@import "tailwindcss";
@layer utilities {
  @keyframes flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      opacity: 1;
      filter: drop-shadow(0 0 0.05rem #ff9966) drop-shadow(0 0 .2rem #ff6633);
    }
    20%, 24%, 55% {
      opacity: .5\\;
      filter: drop-shadow(0 0 0.05rem #ff9966) drop-shadow(0 0 0.2rem #ff6633);
    }
  }

  .flicker {
    animation: flicker 2s infinite;
  }
}

body {
  background: #ffffff;
  color: #2a3b47; /* fallback in case Tailwind doesn’t load */
  font-family: Arial, Helvetica, sans-serif;
}

.bg-pastel-noise {
  background-image:
    linear-gradient(to bottom right, rgba(255, 100, 150, 0.2), rgba(100, 180, 255, 0.7)),
    linear-gradient(to bottom right, #fdf6f0, #e8f0ff),
    url('/noise.png');
  background-blend-mode: overlay, overlay;
  background-size: cover;
}
